.image {
    width: 370px;
    height: 300px;
    min-width: auto;
    min-height: auto;
    margin: 10px;
    z-index: 10;
    position: relative;
}
.thisDiv{
    display: inline-block; vertical-align: middle;
    float: left;
    position: relative;
}
.divImage {
    margin: 0; justify-content: center; display: inline-block; width: 100%; float: left;
}
.mainImage{
    width: 100%;
    height: 680px;
    min-width: auto;
    min-height: auto;
    margin: 10px;
    z-index: 10;
    position: relative;
}
.numberImage {
    width: 380px;
    height: 240px;
}

.bigNumberImage {
    width: 650px;
    height: 350px;
}

.icons{
    width: 30px;
    height: 30px;
}
