.image {
    width: 370px;
    height: 300px;
    min-width: auto;
    min-height: auto;
    margin: 10px;
    z-index: 10;
    position: relative;
}
.thisDiv{
    display: inline-block; vertical-align: middle;
    float: left;
    position: relative;
}
.divImage {
    margin: 0; justify-content: center; display: inline-block; width: 100%; float: left;
}
.mainImage{
    width: 100%;
    height: 680px;
    min-width: auto;
    min-height: auto;
    margin: 10px;
    z-index: 10;
    position: relative;
}
.numberImage {
    width: 380px;
    height: 240px;
}

.bigNumberImage {
    width: 650px;
    height: 350px;
}

.icons{
    width: 30px;
    height: 30px;
}

.smallImage{
    width: 120px;
    height: 90px;
}





.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

