<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/heads :: heads"></head>
<body>
<div class="top-bar" th:insert="blocks/header :: header"></div>
<br>
<div class="row column">
    <h4>Войти</h4>
    <div th:if="${param.error}">
        Неверное имя пользователя или пароль.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form method="post" action="/login">
        <input type="text" name="username" placeholder="Введите имя пользователя" class="form-control" autocomplete="off"><br>
        <input type="password" name="password" placeholder="Введите пароль" class="form-control" autocomplete="off"><br>
        <button type="submit" class="button">Войти</button>
    </form>
</div>
<div class="row column" th:insert="blocks/downnav :: downnav"></div>

<div th:insert="blocks/scripts :: scripts"></div>
</body>
</html>