<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/heads :: heads"></head>
<body>
<div class="top-bar" th:insert="blocks/header :: header"></div>
<br>
<div class="row columns" th:insert="blocks/upnav :: upnav"></div>

<div class="row column">
    <div class="cell" th:each="room : ${numbers}">
        <a th:href="@{|/numbers/${room.id}|}">
            <img class="numberImage thumbnail" th:src="@{|/static/img/${room.filename}|}">
            <img class="numberImage thumbnail" th:src="@{|/static/img/${room.filename2}|}">
            <img class="numberImage thumbnail" th:src="@{|/static/img/${room.filename3}|}">
        </a>
        <h5 th:text="'Номер №' + ${room.roomNumber}"></h5><h6 style="opacity: 50%" th:text="${room.price} + '$'"></h6>
        <p th:text="${room.description}"></p>
        <a th:value="${room}" th:href="@{|/numbers/${room.id}|}" class="button hollow tiny expanded">Посмотреть</a>
    </div>
</div>
<div class="row column" th:insert="blocks/downnav :: downnav"></div>

<div th:insert="blocks/scripts :: scripts"></div>
</body>
</html>

