<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="blocks/heads :: heads"></head>
<body>
<div class="top-bar" th:insert="blocks/header :: header"></div>
<br>
<div class="row columns" th:insert="blocks/upnav :: upnav"></div>

<div class="row column">
    <div class="cell" th:each="users : ${user}">
        <label>Ваш никнейм<a style="float: right" href="/profile/changeusername">Изменить</a></label>
        <div class="panel callout radius">
            <p th:text="${user.username}"></p>
        </div>
        <label>Ваш телефон<a style="float: right" href="/profile/changephonenumber">Изменить</a></label>
        <div class="panel callout radius">
            <p th:text="${user.phoneNumber}"></p>
        </div>
        <label>Ваш email<a style="float: right" href="/profile/changeemail">Изменить</a></label>
        <div class="panel callout radius">
            <p th:text="${user.email}"></p>
        </div>
        <label>Статус</label>
        <div class="panel callout radius">
            <p sec:authentication="principal.authorities"></p>
        </div>
    </div>
</div>
<div class="row column" th:insert="blocks/downnav :: downnav"></div>

<div th:insert="blocks/scripts :: scripts"></div>
</body>
</html>

