<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/heads :: heads"></head>
<body>
<div class="top-bar" th:insert="blocks/header :: header"></div>
<br>
<div class="row column">
    <div>
        <h4>Регистрация</h4>
        <form method="post">
            <input type="text" name="username" placeholder="Введите имя пользователя" autocomplete="off"><br>
            <input type="password" name="password" placeholder="Введите пароль" autocomplete="off"><br>
            <input type="email" name="email" placeholder="Введите email" autocomplete="off"><br>
            <input id="phone" type="text" name="phoneNumber" placeholder="Введите номер телефона" autocomplete="off"><br>
            <button type="submit" class="button">Зарегистрироватся</button>
        </form>
    </div>
</div>
<div class="row column" th:insert="blocks/downnav :: downnav"></div>

<div th:insert="blocks/scripts :: scripts"></div>
</body>
</html>