<div th:fragment="downnav" xmlns:th="http://www.w3.org/1999/xhtml">
<!--        <hr>-->
    <div class="row">
        <ul class="menu">
            <li>Hotel Royal Blood</li>
            <li><a href="/">Главная</a></li>
            <li><a href="/about">Про нас</a></li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="https://vk.com/feed"><img class="icons" src="/static/pic/vk-256x256.png"></a></li>
            <li><a href="https://www.facebook.com/andreygoryach"><img class="icons" src="/static/pic/1485482214-facebook_78681.png"></a></li>
            <li><a href="https://www.instagram.com/omae_wa_mo_shinderiu/"><img class="icons" src="/static/pic/instagram.png"></a></li>
            <li><a href="https://vk.com/feed"><img class="icons" src="/static/pic/Whatsapp-Icon-300x300.png"></a></li>
            <li><a href="viber://chat?number=%2B375298827695"><img class="icons" src="/static/pic/viber.png"></a></li>
            <li><a href="mailto:hotelroyalblood@gmail.com"><img class="icons" src="/static/pic/mail.png"></a></li>
        </ul>
    </div>
</div>