<div th:fragment="downnav" xmlns:th="http://www.w3.org/1999/xhtml">
        <hr>
        <ul class="menu">
            <li>Hostel BestPlace</li>
            <li><a href="/">Главная</a></li>
            <li><a href="/about">Про нас</a></li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="https://www.instagram.com/omae_wa_mo_shinderiu/"><img class="icons" src="/static/pic/instagram.png"></a></li>
            <li><a href="viber://chat?number=%2B375298827695"><img class="icons" src="/static/pic/viber.png"></a></li>
            <li><a href="mailto:hostelbestplace@gmail.com"><img class="icons" src="/static/pic/mail.png"></a></li>
        </ul>
</div>