<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Hostel BestPlace</li>
            </ul>
        </div>
        <ul class="menu" style="float: right" sec:authorize="isAnonymous()">
            <li><a class="button" href="/login">Войти</a></li>
            <li><a class="button" href="/registration">Зарегистрироваться</a></li>
        </ul>
        <ul class="menu" style="float: right" sec:authorize="isAuthenticated()">
            <li><a th:text="${#authentication.name}" href="/profile"></a></li>
            <li>
                <form action="/logout" method="post">
                    <input class="button" type="submit" value="Выйти"/>
                </form>
            </li>
        </ul>
        <ul class="menu" sec:authorize="hasRole('ADMIN')">
            <li><a th:text="${#authentication.name}" href="/profile"></a></li>
            <li><a class="button" href="/numbers/add">Добавить комнату</a></li>
            <li>
                <form action="/logout" method="post">
                    <input class="button" type="submit" value="Выйти"/>
                </form>
            </li>
        </ul>
    </div>
</div>