<div th:fragment="listnumbers" xmlns:th="http://www.w3.org/1999/xhtml">
<div class="tabs-panel" id="panel2">
    <div class="row medium-up-3 large-up-5">
        <div class="column">
            <img class="thumbnail" src="https://placehold.it/350x200">
            <h5>Номер №2<small>20$</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
            <a href="#" class="button hollow tiny expanded">Посмотреть</a>
        </div>
        <div class="column">
            <img class="thumbnail" src="https://placehold.it/350x200">
            <h5>Номер №3 <small>20$</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
            <a href="#" class="button hollow tiny expanded">Посмотреть</a>
        </div>
        <div class="column">
            <img class="thumbnail" src="https://placehold.it/350x200">
            <h5>Номер №4 <small>15$</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
            <a href="#" class="button hollow tiny expanded">Посмотреть</a>
        </div>
        <div class="column">
            <img class="thumbnail" src="https://placehold.it/350x200">
            <h5>Номер №5 <small>30$</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
            <a href="#" class="button hollow tiny expanded">Посмотреть</a>
        </div>
        <div class="column">
            <img class="thumbnail" src="https://placehold.it/350x200">
            <h5>Номер №6 <small>$25</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
            <a href="#" class="button hollow tiny expanded">Посмотреть</a>
        </div>
    </div>
</div>
</div>