<div th:fragment="reviews" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="panel1">
            <h4>Отзывы</h4>
            <div class="media-object stack-for-small">
                <div class="media-object-section">
                    <img class="thumbnail" src="https://placehold.it/200x200">
                </div>
            </div>
            <label>
                Написать отзыв
                <textarea placeholder=""></textarea>
            </label>
            <button class="button">Оставить отзыв</button>
        </div>
</div>
</div>